<!DOCTYPE html>
<html>
<head>
	<title>User Tags</title>
</head>
<body>

<h1> User Photos By Tag <h1>

{% if tags %}
    {% for tag in tags %}

        <h2>Tag: {{tag[0]}}</h2>

            {% if photos %}
                {% for photo in photos %}
                        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/></li>
                    </form>
                        
                {% endfor %}
            {% endif %}
    {% endfor %}
{% endif %}

<ul>
    <li><a href='/upload'>Upload a photo</a> </li>
    <li><a href='/logout'>Logout</a></li>
    <li><a href='/'>Home</a></li>
</ul>


</body>
</html>